* {
    padding: 0;
    margin: 0;
}

.html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f4f6f8;
    font-family: Aril, Tahoma, sans-serif;
    color: #43525d;    
}

a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

h1, h2, h3, h4 {
    color: #ff5912;
}

h1 {
    font-size:52px;
}

h2 {
    font-size:36px;
}

h3 {
    font-size:18px;
}

h4 {
    font-size:12px;
}

.orange_red {
    color: #ff5912;
}

.orange, .active {
    color: #ff7013; 
}

.bg-orange_red {
    color: #ff5912;
}

.float_div::after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

h2 {    
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

.border {
    border: 1px solid #f4f6f8;
}

.border-bottom {
    border-bottom: 1px solid #f4f6f8;
}

.container-100 {
    width: 1200px;
    margin: 10px auto;
    overflow: hidden;
}

.container-100 h2  {   
    margin: 80px 0 0 0;         
}



